[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FDRestimation"]
	path = FDRestimation
	url = https://github.com/murraymegan/fdrestimation
